<div id="gitalk-container" data-comment-state="idle"></div>
<script data-pjax>
  window.GITALK_CONFIG = {
    clientID: '<%= theme.comment.gitalk_client_id %>',
    clientSecret: '<%= theme.comment.gitalk_client_secret %>',
    repo: '<%= theme.comment.gitalk_repo %>',
    owner: '<%= theme.comment.gitalk_owner %>',
    admin: ['<%= theme.comment.gitalk_owner %>'],
    id: '<%= page[theme.comment.gitalk_sid_type] %>' || ((window.location && window.location.pathname) || ''),
    distractionFreeMode: false
  };
</script>
